<!DOCTYPE html>
<html>
  
  <head>
    
    <title>Bookmark Manager</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/application.css'>
    <link rel='stylesheet' type='text/css' href='/stylesheets/reset.css'>

  </head>

  <body>

  <%= partial :header %>
  <%= partial :welcome_message %>

  <div id='content'>

  <%= partial :flash %>


  <%= yield %>

  </div>

  <% if current_user %>
    <%= partial :footer %>
  <% end %>

  </body>

</html>