Popular links:

<ul>
<% top_links = LinkUser.aggregate(:link_id, :all.count).sort_by{|link_id, likes| likes}.reverse.take(10) %>
<% top_links.each do |link_id, likes| %>

  <% link = Link.first(:id => link_id) %>

  <li><a href='<%= link.url %>' target='_blank'><%= link.title %></a>
  
  <%= link.description %>
  
  <% link_tags = LinkTag.all(:link_id => link.id) %>
  <%link_tags.each do |link_tag| %>
    <% tag_name = Tag.first(:id => link_tag.tag_id).text %>
    <a href='/tags/<%= tag_name %>'><%= tag_name %></a>
  <% end %>

<%= likes %>

<% user = User.first(:id => link.user_id) %>
<%= user.username != nil ? user.username : user.email %>

    <form action='/favourites' method='post'>
      <input type='hidden' name='favourite_link' value='<%= link.id %>'>
      <input type='submit' value='Add to favourites'>
    </form>
  </li>
<% end %>
</ul>